@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
}

textarea {
  resize: none;
}

#page-1 {
  background-color: #fff;
}

#page-1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-1 .content #post {
  width: 65%;
  padding: 20px;
}

#page-1 .content #post .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-1 .content #post .head h2 {
  color: #72066b;
  margin: 15px;
  font-size: 43px;
}

#page-1 .content #post .desc {
  margin: 20px;
}

#page-1 .content #post .desc p {
  font-size: 17px;
}

#page-1 .content #post .image {
  padding: 10px;
}

#page-1 .content #post .image img {
  width: 100%;
}

#page-1 .content #post .display {
  margin: 20px;
  border-top: 3px solid #c4bebe;
  border-bottom: 3px solid #c4bebe;
}

#page-1 .content #post .display .icons {
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-1 .content #post .display .icons .icon {
  font-size: 25px;
}

#page-1 .content #post .display .name {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 20px;
}

#page-1 .content #right {
  padding: 60px;
}

#page-1 .content #right .contact h4 {
  margin: 10px;
}

#page-1 .content #right .contact .button button {
  outline: none;
  border: 2px solid #72066b;
  background-color: #72066b;
  color: white;
  padding: 4px;
  font-size: 20px;
}

#page-1 .content #right .contact .button button a {
  font-family: "Ubuntu", sans-serif;
}

#page-1 .content #right .contact .button button:hover {
  border: 2px solid #72066b;
  background-color: #fff;
  color: #72066b;
  -webkit-transition: ease 0.5s all;
  transition: ease 0.5s all;
}

#page-1 .others ul {
  list-style: none;
  margin: 30px;
}

#page-1 .others ul li {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-1 .others ul li .icon {
  font-size: 20px;
  margin-right: 11px;
}

#page-1 .others ul li a {
  font-size: 20px;
}

@media screen and (max-width: 1008px) {
  .display {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #page-1 .content #post {
    width: 100%;
  }
}

@media screen and (max-width: 393px) {
  .name {
    font-size: 12px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .row .col {
    width: 50%;
  }
}

@media screen and (max-width: 473px) {
  #page-1 .content #post {
    width: 100%;
    padding: 0px;
  }
  #page-1 .content #post .display .tag {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #page-1 .content #post .display .icons {
    margin: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #page-1 .content #right {
    padding: 0px;
  }
}
/*# sourceMappingURL=service.css.map */