.container
{

    .content-1
    {
        .col
        {
            background-color: #fff;
            margin-bottom: 24px;
        }
        .checked
        {
            color: orange;
        }
        .ratings
        {
            margin-left: 25px;
        }
        p{
            font-size: 1rem;
        }
    }
  
    
}