.container
{
    max-width: 900px;
    margin: auto;
}
.share{
    display: flex;
    justify-content: center;
}
i{
    color: darkviolet;
    font-size: 1.4rem;
    margin: 20px 20px;
}
@media only screen and (max-width:768px)
{
    .container
    {
        width: 80% !important;

    }
}