#navbar
{
    background-color: #fff;
    height:auto;
}
#navbar .nav-list .nav-item a
{
    color: #000;
}
.container
{
    position: relative;
}
.logo{
    position: absolute;
    left: 0px;
}
@media only screen and (max-width:768px)
{
    .logo
    {
        display: none;
    }
}
@media only screen and (min-width:768px)
{
    #navbar .nav-list
    {
        left: 38%;
    }
}