Ok. Do the history of Internet and for html page, do html tags ordered alphabetically with a description for each tag. Do the same with CSS tags within the CSS page. Make sure its in a, table


For history of Internet, please research and talk about how to history of Internet happened and what it is today in chronological order. No plagiarism too. 

I want the pages in this order. 1. Home page. 2. About. 3
.history of Internet . 4. Html page. 5. CSS 6. Human computer. 7. Multimedia 8. Packet tracer. 9. References. 10. Contacts