@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@font-face {
  font-family: myriad;
  src: url("../fonts/myriad-pro/MyriadPro-Bold.otf");
}

@font-face {
  font-family: gagalin;
  src: url("../fonts/gagalin/Gagalin-Regular.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

img {
  width: 100%;
}

#head {
  position: relative;
  z-index: 1;
}

#head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  z-index: -1;
  background: url("../images/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#head #navbar {
  background-color: rgba(0, 0, 0, 0.26);
}

#head #navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0px;
}

#head #navbar .container a {
  color: #fff;
  text-decoration: none;
}

#head #navbar .container .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#head #navbar .container .social ul li {
  margin: 0px 10px;
}

#head #navbar .container .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#head #navbar .container .nav-items .nav-item {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0px 20px;
}

#head #navbar .container .nav-items .nav-item a {
  -webkit-transition: ease .4s;
  transition: ease .4s;
  font-family: myriad;
}

#head #navbar .container .nav-items .nav-item:hover a {
  color: #a57d5c;
}

#head #navbar .container .nav-items .active a {
  color: #a57d5c;
}

#head #navbar .container .search {
  float: right;
}

#head #navbar .container .search i {
  color: #fff;
  border-left: 1px solid #fff;
  padding-left: 20px;
}

#hero {
  background-color: rgba(0, 0, 0, 0.26);
}

#hero .slide {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .slide .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .slide .logo {
  font-size: 3.2rem;
  font-weight: 600;
  opacity: .6;
  text-transform: uppercase;
  margin: 20px 0px;
}

#hero .slide .title {
  font-size: 3.5rem;
  font-family: gagalin;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  margin: 20px 0px;
  margin-bottom: 0px;
}

#hero .slide .desc {
  font-size: 1.6rem;
  margin: 20px 0px;
  font-weight: 600;
  margin-top: 3px;
}

#hero .slide .button {
  padding: 7px 20px;
  background-color: #a57d5c;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: ease .4s;
  transition: ease .4s;
  border: 2px solid transparent;
}

#hero .slide .button:hover {
  color: #fff;
  background-color: transparent;
  border: 2px solid #a57d5c;
}

#hero .slide .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 7rem;
}

#hero .slide .adress .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero .slide .adress .share p {
  margin: 0px 20px;
}

#hero .owl-theme .owl-dots {
  position: absolute;
  left: 48%;
  top: 94%;
}

#hero .owl-theme .owl-nav {
  height: 40px;
}

#hero .owl-theme .owl-dots .owl-dot span {
  border-radius: 0px;
  width: 7px;
  height: 13px;
}

#hero .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 93%;
  left: 43%;
}

#hero .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 93%;
  left: 54%;
}

@media only screen and (max-width: 1000px) {
  #hero .owl-carousel .owl-nav button.owl-next {
    left: 60%;
  }
  #hero .owl-carousel .owl-nav button.owl-prev {
    left: 39%;
  }
}

#menu {
  background-image: url("../images/icons_bg.png");
  background-position: center;
  background-size: cover;
  left: 0px;
  top: 0;
  width: 100%;
}

#menu .browse {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#menu .browse .menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-family: "Parisienne", cursive;
  position: relative;
  z-index: 4;
  color: #fff;
  font-size: 5rem;
}

#menu .browse .menu::before {
  content: 'Browse';
  position: absolute;
  width: 100%;
  left: -19px;
  top: -15px;
  font-family: sans-serif;
  font-size: 3rem;
  z-index: -1;
  color: #000;
  font-weight: 600;
}

#menu .browse::before {
  content: '';
  background-color: #a57d5c;
  opacity: .9;
  width: 100%;
  height: 103.4%;
  position: absolute;
  top: -9px;
  left: 0;
}

#menu .list {
  background-image: url(../images/panir.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  position: relative;
  z-index: 4;
}

#menu .list::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .7;
  z-index: -1;
}

#menu .list li {
  margin: 20px 0px;
}

#menu .list a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

#menu .list a:hover {
  color: #A57D5C;
}

#menu .btn {
  border: 2px solid #fff;
  border-radius: 20px;
  margin-left: 32px !important;
  margin-bottom: 21px;
}

#menu .card {
  border: none;
}

#welcome {
  width: 100%;
  background-color: #000;
  background-image: url(../images/meal.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  padding: 30px 0px;
}

#welcome .first {
  font-family: "Parisienne", cursive;
  font-size: 4rem;
  position: relative;
  z-index: 2;
}

#welcome .first::before {
  content: 'Hello & Welcome';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #a57d5c;
  font-family: sans-serif;
  font-size: 2rem;
  z-index: -1;
}

#welcome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
}

#welcome img {
  opacity: .8;
}

#welcome .bottom h1 {
  color: #a57d5c;
}

#welcome .bottom .item {
  margin: 10px 0px;
}

#welcome .bottom .icon {
  color: #a57d5c;
  font-size: 2rem;
  margin-right: 20px;
}

#welcome .bottom .text {
  font-size: 1.2rem;
  font-weight: 600;
}

#testimonials {
  background-image: url(../images/ORFF0J0.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#testimonials .top {
  background-color: #fff;
  border-bottom: #a57d5c solid 5px;
  padding: 30px 0px;
}

#testimonials .top i {
  font-size: 4rem;
  color: #a57d5c;
  margin-top: 20px;
}

#testimonials .top h1 {
  font-family: "Parisienne", cursive;
  font-size: 3rem;
  line-height: 1;
}

#testimonials .slide {
  background-color: #fff;
  position: relative;
}

#testimonials .slide .text {
  padding: 32px;
  border-bottom: 5px solid #a57d5c;
  background-color: transparent;
  font-style: italic;
  font-size: 1.1rem;
}

#testimonials .slide .image {
  padding-bottom: 40px;
}

#testimonials .owl-theme .owl-dots {
  position: absolute;
  top: 84%;
  left: 38%;
}

#testimonials .owl-theme .owl-dots .owl-dot span {
  width: 60px;
  height: 9px;
  background-color: #c9c0ba;
}

#testimonials .owl-theme .owl-dots .owl-dot.active span, #testimonials .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #a57d5c;
}

#banner {
  position: relative;
}

#banner #map {
  height: 700px;
}

#banner .description {
  padding: 20px 0px;
  position: absolute;
  top: 3%;
  left: 10%;
  width: 100%;
  height: 94%;
  background-color: #a57d5c;
  color: #fff;
}

#banner .description .head h1 {
  position: relative;
  font-family: "Parisienne", cursive;
  z-index: 4;
  color: #000;
  font-size: 3rem;
  font-weight: 700;
}

#banner .description .head h1::after {
  content: 'RESTAURENT';
  position: absolute;
  bottom: -36px;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 1.4rem;
  z-index: -1;
  color: #fff;
  font-weight: 400;
}

#banner .description .bottom .icon {
  font-size: 2rem;
}

#banner .description .bottom .social {
  margin: 20px 0px;
  font-size: 1.9rem;
}

#banner .description .bottom .social .share {
  margin: 0px 20px;
}

@media only screen and (max-width: 768px) {
  #banner .description {
    position: relative;
    top: 0;
    left: 0;
  }
  #banner .description .head {
    margin: 28px 0px;
  }
  #banner .description .bottom .item h2 {
    font-size: 1.5rem;
  }
  #banner .description .bottom .icon {
    font-size: 1.7rem;
  }
}

#footer {
  background-color: #000;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

#footer .logo a {
  font-size: 2rem;
}

#footer .list li {
  margin: 0px 10px;
}

#footer span {
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */