*
{
    margin: 0;
    padding: 0;
}

table
{
    width: 100vw;
    overflow: hidden;
    tr{
        display: inline-block;
width: 50%; // or px, em, etc.
overflow: hidden;
// text-overflow: ellipsis;
    }
    td{
        width: 200px !important;
        overflow: hidden !important;
        border: 1px solid #C6B4CE;
        background-color: #f7f7f7;
    }
    .diff_next
    {
        width: 0px !important;
    }
    td.diff_header
    {
        width: 80px !important;
        padding-right: 20px !important;
        height: 40px !important;
    }
}
