body{
    background-color: #F9FAFF;
    max-width: 100vw;
    overflow-x: hidden;
}
.input-field{
    max-width: 438px;
}
.country
{
    grid-template-columns: 0% 90%;
}
.page-container
{
    max-width:100%;
   .form
   {
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
       .image{
    position: relative;
    top: 26%;
       }
        // img{
        //     width: 95%;
        //     max-width: 500px;
        // }
    }
    .submit
    {
        position: relative;
        left: 25%;
    }
}
.container
{
    
    background-color: #F9FAFF;
    overflow: visible;
}
.container::before
{
    content: '' !important;
    overflow:auto !important;
    width: 0px !important;
    height: 0px !important;
}
