body{
    margin: 0px;
    padding :0px;
    scroll-behavior: smooth;
    max-width: 100%;
    background-color: #f7f7f7;
}

.container
{
    .row
    {
        width: 100%;
        margin: auto;
    }
    input{
        height: 44px;
        padding-left: 20px;

    }
    .input{
        margin-top: 20px;
    }
    input,label{
        border: none;
border-radius: 14px;
text-transform: capitalize;
// margin: 0px 45px;
width: 100%;
    }
    i{
        color: #DBCBBD;
        margin-right: 3px;
        padding-left: 11px;
        font-size: 1.1rem;
    }
    .head{
        margin: 10px 0px;
        .image{
            display: flex;
            justify-content: center;
            img{
                width: 136px;
                border-radius: 50%;
                height: 136px;
                // border: 1px solid;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }
    }
    .card{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 20px 0px;
        padding: 30px;
        width: 400px;
    }
   
}


@media only screen and (max-width:432px)
{
    .container
    {
        .card
        {
            width: 100%;
        }
    }
}
@media only screen and (max-width:298px)
{
    .container
    {
        padding: 15px 0px;
    }
}